
body{

    background-image: url(../background.jpg);
    background-size: 100%;
}

.header{
    height: 300px;
    width: 100%;
    display: inline-flex;
    margin-top: 80px;
}

.header-left{
    height: 100%;
    width: 40%;
    background-color: white;
    border-radius: 25px;
    margin-left: 50px;
    min-width: 350px;
    box-shadow: 10px 10px gray;
}

.header-left:hover{
    transform: scale(1.25);
}

.header-left h2 {
    text-align: center;
    font-size: 3vw;
    width: 50%;
    margin: auto;
}

.header-left img {
    height: 100%;
    margin-left: 20px;
    display: flex;
    max-width: 200px;
    min-width: 100px;

}

.icontemp{
    height: 70%;
    display: inline-flex;

}

.tempbox{
    max-width: 50%;
    min-width: 20%;
    margin-left: 50px;
    margin-top: 20px;
    
    
}

#temperature{
    min-width: 200px;
    height: 80px;
}

.tempbox h2{
    font-size: 3vw;
    text-align: left;
    
}

.tempbox h3{
    text-align: left;
    font-size: 2.5vw;
    margin-top: 0px;
}


.header-right{
    height: 100%;
    width: 60%;
    margin-left: 50px;
    margin-right: 50px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 10px 10px gray;
    display: block;
}

.toptitle{
    margin: auto;
    text-align: center;
    margin-top: 30px;
}

h1{
    font-size: 40px;
    background-color: white;
    width: 500px;
    margin: auto;
    border-radius: 25px;
    box-shadow: 10px 10px gray;
}

h2{
    font-size: 25px;

}

#date{
    margin-left: 10px;
    margin-right: 10px;
}

#time{
    margin-left: 10px;
    margin-right: 10px;
}

#weekday{
    margin-left: 10px;
    margin-right: 10px;
}

.date_time{
    display: inline-flex;
    margin-top: 10px;
    background-color: white;
    box-shadow: 10px 10px gray;
    border-radius: 25px;
    height: 6vh;
    
}

.date_time h2{
    height: 3vh;
    margin-top: 10px;
    
}

#current{
    width: 100%;
    margin-top: 10px;
}

.infobox{
    width: 18vh;
    height: 12vh;
    margin-top: 15px;
    border-radius: 25px;
    border: solid 2px gray;
    box-shadow: 2px 2px gray;
}

.infobox:hover{
    transform: scale(1.25);
}

.infobox img{
    height: 3.6vh;
    width: 3.6vh;
    margin-bottom: 0px;
}

.infobox .image{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.2vh;
    width: 4vh;
}

.infobox h2{
    font-size: 2vh;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 13px;
}

.infobox h3{
    font-size: 2.5vh;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0;

}

.top-line{
    display: inline-flex;
    width: 100%;
    height: 50%;
    justify-content: space-evenly;
}

.bottom-line{
    display: inline-flex;
    width: 100%;
    height: 50%;
    justify-content: space-evenly;
}

/*Make a separate rule for the phones*/

@media all and (min-width:0px) and (max-width: 420px) {
    .toptitle{
        width: 100%;
    }

    .toptitle h1{
        font-size: 4vh;
        width: 100%;
        box-shadow: 1px 1px gray;
    }

    .date_time{
        width: 90%;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 1px 1px gray;
        text-align: center;
        justify-content: center;

    }

    .date_time h2{
        font-size: 2.7vh;
    }

    .header{
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        height: 400px;
        

    }

    .header-left{
        margin-left: 0px;
        height: 150px;
        margin-right: 0px;
        margin-top: 0px;
        width: 10px !important;
        box-shadow: 1px 1px gray;
        min-width: 280px;
        width: 100%;
        padding-right: 0px;
    }

    #temperature{
        width: 10px !important;
        min-width: 70px;
        height: 20px;
        font-size: 2.9vh;
        text-align: center;
    }

    #description{
        font-size: 2.9vh;
        text-align: center;
    }

    .header-right{
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        box-shadow: 1px 1px gray;
        min-width: 260px;
        width: 100%;
        height: 200px;

    }

    #current{

        font-size: 2.8vh;
    }

    .icontemp{
        width: 100%;
    
    }

    .tempbox{

        margin-left: 10px;
        margin-right: 0px;
        margin-bottom: 20px;
        width: 100px;
    }

    #todayicon{
        margin-left: 2px;
        margin-right: 3px;
    }

    .infobox{
        width: 8.5vh;
        border-radius: 20px;
        
    }

    .infobox:hover{
        transform: scale(1.5);
    }

    .infobox h2{
        font-size: 1.3vh;
    }

    .infobox h3{
        font-size: 1.2vh;
    }

  }